nav{
  font-size: 20px;
}
li{
  margin-left: 70px;
  font-weight: bold;
}
#contlogin{
  margin-top: 100px;
}

#imgservicio{
  margin-top: 200px;
}
#imgcentro{
  text-align: center;
  margin-left: 275px;
}
.fakeimg {
  height: 300px;
  background: #aaa;
}

#h2nosotros{

  margin-top: 150px;
  margin-left: 90px;
}
#imgnosotros{
  
  margin-left: 90px;
  margin-right: 50px;
  width: 700px;
  float: left;
}
#pnosotros{
  margin-top: 40px;
  margin-right: 90px;
  text-align: justify;
}
#imgnosotros2{
  margin-top: 0px;
  margin-left: 50px;
  margin-right: 90px;
  width: 700px;
  float:right;
}
#pnosotros2{
  margin-top: 140px;
  margin-left: 90px;
  text-align: justify;
}
#lista{
  margin-left: 120px;
}